<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webparadox.bizwizsales"
    android:versionCode="21"
    android:versionName="3.1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="com.webparadox.bizwizsales.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.webparadox.bizwizsales.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:required="false" />

    <application
        android:name="com.webparadox.bizwizsales.datacontroller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNOBar" >
        <activity
            android:name="com.webparadox.bizwizsales.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.TestingScreenShot"
            android:icon="@drawable/ic_navigation_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.MainActivity"
            android:icon="@drawable/ic_navigation_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name="AddProspectActivity" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SupportActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.MyHotQuotesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CustomerDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SearchResultsActivity"
            android:parentActivityName="com.webparadox.bizwizsales.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CusAttachmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CusAttachmentDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SequelVideoActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.GalleryMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CustomerAppointmentsActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.GalleryUploadActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SalesProcessProductSubCategoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.UpdateProposalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.SmartSearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.ProposalSummaryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CheckoutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.EditProposalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.EditProspectActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CreditCardMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CreditCardManualEntryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.CreditCardPaymentSignature"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.webparadox.bizwizsales.NewProposalSummaryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <service
            android:name="com.webparadox.bizwizsales.helper.SendLocationService"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name="com.webparadox.bizwizsales.helper.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="com.webparadox.bizwizsales.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.webparadox.bizwizsales" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.webparadox.bizwizsales.helper.BizWizUpdateService"
            android:process=":remote" />

        <receiver android:name="com.webparadox.bizwizsales.helper.BizWizUpdateReciver" />
    </application>

</manifest>